<nav class="navbar navbar-light bg-dark">
    <a class="navbar-brand" href="/">
        <img class="image-logo" src="/img/js.png" alt="img">
        <label style="color: white">Perguntas e respostas</label>
    </a>
</nav>